# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
TheTurk/obj/x86/Debug/TheTurk.csproj.FileListAbsolute.txt
.vs/
/TheTurk/Properties/PublishProfiles/FolderProfile.pubxml
/TheTurk/Properties/PublishProfiles/FolderProfile.pubxml.user
